* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inconsolata', monospace;
	background: radial-gradient(circle at center, #bfbeaf 94%, #706f62 100%);
	height: 100vh;
	width: 100vw;
	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden;
}

.crt-border {
	position: relative;
	height: 100vh;
	width: 100vw;
	background: #4f4e45;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
}

.crt-border::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow:
		inset 0 0 60px rgba(255, 255, 255, 0.5),
		inset 0 0 40px rgba(255, 255, 255, 0.2);
	border-radius: 50px;
	overflow: hidden;
	z-index: 0;
}

.terminal-window {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	align-items: stretch;
	justify-content: center;
	background: #1e1e1e;
	overflow: hidden;

	border-radius: 24px;
	overflow: hidden;
	z-index: 1;
}

/* Inset shadow */
.terminal-window::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow:
		inset 0 0 80px rgba(0, 0, 0, 0.6),
		inset 0 0 20px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	pointer-events: none;
}

#terminal-container {
	padding: 24px;
	background: none;
	position: relative;
	flex-grow: 1;
	overflow: scroll;
}

/* Ensure terminal canvas can handle scrolling */
#terminal-container canvas {
	display: block;
}

@media (max-width: 768px) {
	body {
		padding: 20px 10px;
	}

	#terminal-container {
		height: 500px;
	}
}
